@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: white rgb(143, 183, 247);
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(143, 183, 247);
    border-radius: 0px;
    border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(143, 183, 247);
}

body {
    background-color: rgb(241 245 249);
    font-family: 'Roboto';
}